* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

:root {
    --color1: #51007a;
    --color2: #ffffff;
    --color3: #d3d3d3;
}

body {
    background-color: var(--color3);
}

.header {
    padding: 20px;
    background-color: var(--color1);
    color: var(--color3);
}

.header h1 {
    display: inline-block;
    font-size: 50px;
}

.header nav {
    padding-top: 20px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 20px;
}

.header nav ul li a {
    color: var(--color3);
    text-decoration: underline;
}

.hero {
    display: flex;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.hero h2 {
    text-align: center;
    text-decoration: underline;
    font-size: 32px;
    margin-top: 50px;
    margin-left: 20px;
}

#about-me-text {
    font-size: 18px;
}

h3 {
    text-align: center;
    text-decoration: underline;
    font-size: 32px;
    margin-top: 50px;
    margin-left: 20px;
}

.pictures {
    text-align: center;
    font-size: larger;
}

.pictures img {
    width: 100%;
    height: auto;
}

.footer {
    padding: 20px; 
    background-color: var(--color1);
    color: var(--color2);
    text-align: center;
    font-size: 25px;
}

.footer a {
    color: var(--color3);
}

a {
    color: var(--color1);
}

@media (max-width: 991.98px) {
    .pictures #bigger {
        height: 70%;
    }
}

@media (max-width: 575.98px) {
    #about-me-text {
        font-size: larger;
    }

    #about-me {
        padding-top: 5%;
    }
}